.WeatherTemperature .temperature {
  font-size: 60px;
  font-weight: 500;
}

.Weather canvas {
  margin: 10px 20px;
}

.WeatherTemperature .unit {
  top: -33px;
  position: relative;
}

.Weather p {
  text-align: left;
}

strong {
  font-size: 18px;
}
.ForeTemp {
  font-weight: bold;
}

.ForeTemp-Min {
  opacity: 0.5;
}

h3 {
  font-weight: bold;
}
